html,body
{
    height:100%;
    width:100%;
    overflow-x:clip;
    background-color: black;
}

#data-graph
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: grid;
    align-items: end;
}

#data-panel
{
    position:fixed;
    top:0;
    right:0;
    width:20%;
    height:100%;
    background-color: green;
    transform: translateX(100%);
    transition: all .5s;
}

.bar
{
    background-color: white;
}